.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 96px 50px 92px;
}

.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;
    }

.header__menu {
    font-size: 18px;
}
.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
    text-decoration: underline;
}

.address {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #000;
    font-style: normal;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}

.cover {
    position: relative;
    background: url(../images/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover .description {
    z-index: 2;
}


.title-cover {
    padding: 165px 50px 106px 50px;

}
.aligned-text {
    z-index: 2;
    position: relative;
    display: block;

    font-weight: 700;
    color: #FFF;
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 30px; /* 30% от размера */
 }

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 50px;
}
.cover__description-text {
    z-index: 2;
    position: relative;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
    color: #FFF
}

.bet-button {
    z-index: 2;
    position: relative;
    background-color: transparent;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 12px 32px 11px 31px;
    box-sizing: border-box;
}

.lots {
    margin: 180px 24px 120px;
}

.lots__heading {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    flex-wrap: wrap;
}
.lots__card-list-item {
    position: relative;
    height: 596px;
    min-width: 334px;
    max-width: 334px;
    flex: 1;
}

.card-link {
    height: 100%;
}

.card {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 48px 40px;
    z-index: 2;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card_type_book {
    background: url(../images/card-lot-02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__title {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    color:#FFF;
    z-index: 2;
}
.card__text {
    font-size: 20px;
    color: #FFF;
    line-height: 120%;
    z-index: 2;
}

.lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
    text-underline-offset: 2px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    margin: 0 24px 180px;
    gap: 27px;
    box-sizing: border-box;
}

.about__logo {
    border-radius: 50%;
    background-color: #000;
    width: 240px;
    height: 240px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.about__column__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    color: #000;
    margin-bottom: 100px;
    margin-top: 136px;
}

.about__text {
    font-size: 20px;
}

.second_p {
    margin-top: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  height: 180px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  transition: opacity 0.3s;
}

.footer__social-icon:hover {
  opacity: 0.7;
}

.header_address_underline {
    text-decoration: underline;
}